aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anthropic==0.43.1
anyio==4.7.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==24.3.0
Automat==20.2.0
azure-ai-language-questionanswering==1.1.0
azure-ai-textanalytics==5.3.0
azure-ai-translation-document==1.1.0
azure-ai-translation-text==1.0.1
azure-cognitiveservices-speech==1.41.1
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
Babel==2.8.0
bcrypt==3.2.0
bidict==0.23.1
blinker==1.9.0
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.8
cloud-init==23.1.2
cloudpickle==3.1.1
colorama==0.4.4
command-not-found==0.3
compressed-tensors==0.8.0
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.1
cryptography==3.4.8
cuda-python==12.6.2.post1
cycler==0.12.1
datasets==3.2.0
dbus-python==1.2.18
decorator==5.1.1
decord==0.6.0
dill==0.3.8
diskcache==5.6.3
distro==1.7.0
distro-info===1.1build1
dnspython==2.7.0
einops==0.8.0
eventlet==0.39.0
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.6
ffmpy==0.5.0
filelock==3.16.1
flashinfer==0.1.6+cu124torch2.4
Flask==3.1.0
Flask-Login==0.6.3
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
gguf==0.10.0
gradio==5.12.0
gradio_client==1.5.4
greenlet==3.1.1
h11==0.14.0
hf_transfer==0.1.9
httpcore==1.0.7
httplib2==0.20.2
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.27.1
hyperlink==21.0.0
idna==3.3
importlib_metadata==8.5.0
incremental==21.3.0
iniconfig==2.0.0
interegular==0.3.3
ipython==8.31.0
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.5
jiter==0.8.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.5.0
kiwisolver==1.4.8
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
litellm==1.58.4
llama_cpp_python==0.3.7
llvmlite==0.43.0
lm-format-enforcer==0.10.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistral_common==1.5.1
modelscope==1.22.3
more-itertools==8.10.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
openai==1.58.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openvino==2024.6.0
openvino-telemetry==2025.0.0
orjson==3.10.14
outlines==0.0.46
packaging==24.2
pandas==2.2.3
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pexpect==4.8.0
pillow==10.4.0
pluggy==1.5.0
portalocker==2.10.1
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==19.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybind11==2.13.6
pycountry==24.6.1
pydantic==2.10.4
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
pytest==8.3.4
python-apt==2.4.0+ubuntu1
python-dateutil==2.9.0.post0
python-debian===0.1.43ubuntu1
python-dotenv==1.0.1
python-engineio==4.11.2
python-magic==0.4.24
python-multipart==0.0.20
python-socketio==5.12.1
pytz==2022.1
PyYAML==5.4.1
pyzmq==26.2.0
ray==2.40.0
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
ruff==0.9.2
safehttpx==0.1.6
safetensors==0.5.2
scipy==1.15.1
seaborn==0.13.2
SecretStorage==3.3.1
semantic-version==2.10.0
sentencepiece==0.2.0
service-identity==18.1.0
setproctitle==1.3.4
sgl-kernel==0.0.2.post14
sglang==0.4.1.post6
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
sos==4.4
SQLAlchemy==2.0.37
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.41.3
sympy==1.13.1
systemd-python==234
tiktoken==0.7.0
tokenizers==0.21.0
tomli==2.2.1
tomlkit==0.13.2
torch==2.5.1
torchao==0.8.0
torchvision==0.20.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.0
triton==3.1.0
Twisted==22.1.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-advantage-tools==8001
ufw==0.36.1
ultralytics==8.3.64
ultralytics-thop==2.0.14
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.34.0
uvloop==0.21.0
vllm==0.6.4.post1
wadllib==1.3.6
watchfiles==1.0.4
wcwidth==0.2.13
websockets==14.1
Werkzeug==3.1.3
wsproto==1.2.0
xformers==0.0.28.post3
xgrammar==0.1.10
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zope.interface==5.4.0
